
/* =========================================
   RESETEO Y VARIABLES GLOBALES
   ========================================= */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

/* =========================================
   Fuente propia: Daily Slab Regular
========================================= */
@font-face {
    font-family: 'DailySlabRegular'; 
    
    src: url('assets/fonts/DailySlabRegular.otf') format('opentype');
    
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.002em;
}

body {
    background-color: #ffffff; /*Color de fondo*/
    color: #000000; /*Color del texto*/
    font-family: 'Inter', sans-serif; /*Fuente principal*/
    /*padding: 30px 20px 80px 20px;*/
}


/* =========================================
   Clases
========================================= */
.fecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    top: 20px; /* Le dice que se pegue cuando llegue al píxel 0 (el borde superior) */
    /*padding: 10px;*/

    font-size: 0.75rem;
    letter-spacing: 0.05em;
    color: #000000;
    /*margin-bottom: 1.5rem;*/

    z-index: 10; /* Asegura que el texto de la fecha esté por encima de las imágenes */
}

.titulo {
    font-family: 'DailySlabRegular', serif;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -0.002em;
    /*margin-bottom: 1rem;*/

    padding: 90px 0px 0px 0px; /* Espacio horizontal para evitar que el texto toque los bordes en pantallas pequeñas */
}

.mensaje {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: -0.02em;
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    /*margin-top: 1.5rem;*/
}

/* =========================================
   CABECERAS Y ENLACES
   ========================================= */
header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0de;
    padding-bottom: 1rem;
}

.titulo-seccion {
    font-size: 1rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}

/* Enlace inferior de la página principal */
.link-archivo {
    margin-top: 4rem;
    font-size: 0.8rem;
    color: #888;
    border-bottom: 1px solid transparent;
}
.link-archivo:hover, .link-archivo:active {
    color: #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}

/* Enlace superior de volver */
.link-volver {
    font-size: 0.8rem;
    color: #888;
}
.link-volver:hover, .link-volver:active {
    color: #1a1a1a;
}

/* Separación entre días pasados */
.entrada {
    margin-bottom: 3rem;
}

.hero {
    height: 100vh;           /* Fuerza a que mida exactamente la altura de la pantalla */
    width: 100%;             /* Ancho completo */
    position: relative;      /* NECESARIO para que las imágenes se posicione respecto a ESTE contenedor */
    box-sizing: border-box;  /* Asegura que los márgenes se incluyan en el tamaño total */
    
    /* El margen de 8vw que mencionaste antes, se lo ponemos aquí para que el texto lo respete */
    /*padding: 8vw;*/
    padding: 30px 20px 60px 20px;
}
.contenido {
    /*height: 100vh;   */        /* Fuerza a que mida exactamente la altura de la pantalla */
    width: 100%;             /* Ancho completo */
    position: relative;      /* NECESARIO para que las imágenes se posicione respecto a ESTE contenedor */
    box-sizing: border-box;  /* Asegura que los márgenes se incluyan en el tamaño total */
    
    /* El margen de 8vw que mencionaste antes, se lo ponemos aquí para que el texto lo respete */
    /*padding: 8vw;*/
    padding: 30px 20px 70px 20px;
}

.daily-images-container {
    position: absolute;      /* Se "arranca" del flujo de la página */
    bottom: 100px;            /* Separa la base de todo este contenedor 60px de la base de .section-hero */
    
    padding: 0px 20px 0px 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 20px 70px 20px;

    
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
    color: #000000;
}

.listaFechas {
    font-family: 'DailySlabRegular', serif;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -0.002em;
    /*margin-bottom: 1rem;*/

    padding: 90px 0px 0px 0px; /* Espacio horizontal para evitar que el texto toque los bordes en pantallas pequeñas */
}